#This snippet if for connecting google drive to google colab

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Required Packages

In [2]:
import pandas as pd
import numpy as np
import datetime
import math 
from datetime import datetime, timedelta

#ICD10 Group Data Loading

In [3]:
icd_10=pd.read_csv('/content/drive/MyDrive/ArianaProject/Transfusion/Code/Amara/ICD10_Groups.csv')#Full Data
icd_10=icd_10[['GROUP_DESC','SUBGROUP_DESC','SUBGROUP']]#Working columns only
icd_10

,GROUP_DESC,SUBGROUP_DESC,SUBGROUP
0,Certain infectious and parasitic diseases,Intestinal infectious diseases,A00-A09
1,Certain infectious and parasitic diseases,Tuberculosis,A15-A19
2,Certain infectious and parasitic diseases,Certain zoonotic bacterial diseases,A20-A28
3,Certain infectious and parasitic diseases,Other bacterial diseases,A30-A49
4,Certain infectious and parasitic diseases,Infections with a predominantly sexual mode of...,A50-A64
...,...,...,...
279,Factors influencing health status and contact ...,Do not resuscitate status,Z66-Z66
280,Factors influencing health status and contact ...,Blood type,Z67-Z67
281,Factors influencing health status and contact ...,Body mass index (BMI),Z68-Z68
282,Factors influencing health status and contact ...,Persons encountering health services in other ...,Z69-Z76
283,Factors influencing health status and contact ...,Persons with potential health hazards related ...,Z77-Z99

#Replacing Letter with Digit

In [4]:

icd_10['SUBGROUP']=icd_10['SUBGROUP'].str.replace('A','1').str.replace('B','2').str.replace('C','3').str.replace('D','4').str.replace('E','5').str.replace('F','6').str.replace('G','7').str.replace('H','8').str.replace('I','9').str.replace('J','10').str.replace('K','11').str.replace('L','12').str.replace('M','13').str.replace('N','14').str.replace('O','15').str.replace('P','16').str.replace('Q','17').str.replace('R','18').str.replace('S','19').str.replace('T','20').str.replace('U','21').str.replace('V','22').str.replace('W','23').str.replace('X','24').str.replace('Y','25').str.replace('Z','26')
icd_10

,GROUP_DESC,SUBGROUP_DESC,SUBGROUP
0,Certain infectious and parasitic diseases,Intestinal infectious diseases,100-109
1,Certain infectious and parasitic diseases,Tuberculosis,115-119
2,Certain infectious and parasitic diseases,Certain zoonotic bacterial diseases,120-128
3,Certain infectious and parasitic diseases,Other bacterial diseases,130-149
4,Certain infectious and parasitic diseases,Infections with a predominantly sexual mode of...,150-164
...,...,...,...
279,Factors influencing health status and contact ...,Do not resuscitate status,2666-2666
280,Factors influencing health status and contact ...,Blood type,2667-2667
281,Factors influencing health status and contact ...,Body mass index (BMI),2668-2668
282,Factors influencing health status and contact ...,Persons encountering health services in other ...,2669-2676
283,Factors influencing health status and contact ...,Persons with potential health hazards related ...,2677-2699

#Making Two points for Range column

In [5]:
icd_10[['start_point','end_point']] = icd_10.SUBGROUP.str.split("-",expand=True)
icd_10

,GROUP_DESC,SUBGROUP_DESC,SUBGROUP,start_point,end_point
0,Certain infectious and parasitic diseases,Intestinal infectious diseases,100-109,100,109
1,Certain infectious and parasitic diseases,Tuberculosis,115-119,115,119
2,Certain infectious and parasitic diseases,Certain zoonotic bacterial diseases,120-128,120,128
3,Certain infectious and parasitic diseases,Other bacterial diseases,130-149,130,149
4,Certain infectious and parasitic diseases,Infections with a predominantly sexual mode of...,150-164,150,164
...,...,...,...,...,...
279,Factors influencing health status and contact ...,Do not resuscitate status,2666-2666,2666,2666
280,Factors influencing health status and contact ...,Blood type,2667-2667,2667,2667
281,Factors influencing health status and contact ...,Body mass index (BMI),2668-2668,2668,2668
282,Factors influencing health status and contact ...,Persons encountering health services in other ...,2669-2676,2669,2676
283,Factors influencing health status and contact ...,Persons with potential health hazards related ...,2677-2699,2677,2699

In [6]:
icd_10['start_point'] = icd_10['start_point'].astype('int')#making the columnn value str into in
icd_10['end_point'] = icd_10['end_point'].astype('int')#making the columnn value str into in

#This check column is for checking if any 'start point' is greater than 'end point' or not

In [7]:
icd_10['check']=0

In [8]:
icd_10.loc[(icd_10['start_point'] > icd_10['end_point']) ,['check']]='T1'

In [9]:
icd_10['check'].value_counts()

0     283
T1      1
Name: check, dtype: int64

In [11]:
#We exchange the s.ponit to e.point for applying logic
m = icd_10['check'] == 'T1'
icd_10.loc[m, ['start_point', 'end_point']] = (icd_10.loc[m, ['end_point', 'start_point']].values)
icd_10

,GROUP_DESC,SUBGROUP_DESC,SUBGROUP,start_point,end_point,check
0,Certain infectious and parasitic diseases,Intestinal infectious diseases,100-109,100,109,0
1,Certain infectious and parasitic diseases,Tuberculosis,115-119,115,119,0
2,Certain infectious and parasitic diseases,Certain zoonotic bacterial diseases,120-128,120,128,0
3,Certain infectious and parasitic diseases,Other bacterial diseases,130-149,130,149,0
4,Certain infectious and parasitic diseases,Infections with a predominantly sexual mode of...,150-164,150,164,0
...,...,...,...,...,...,...
279,Factors influencing health status and contact ...,Do not resuscitate status,2666-2666,2666,2666,0
280,Factors influencing health status and contact ...,Blood type,2667-2667,2667,2667,0
281,Factors influencing health status and contact ...,Body mass index (BMI),2668-2668,2668,2668,0
282,Factors influencing health status and contact ...,Persons encountering health services in other ...,2669-2676,2669,2676,0
283,Factors influencing health status and contact ...,Persons with potential health hazards related ...,2677-2699,2677,2699,0

In [12]:
#icd_10.to_csv('demo.csv',index=False)

In [13]:
icd_10["Icd_range"] = icd_10['start_point'].astype(str) +"-"+ icd_10["end_point"].astype(str)#Final range column
icd_10

,GROUP_DESC,SUBGROUP_DESC,SUBGROUP,start_point,end_point,check,Icd_range
0,Certain infectious and parasitic diseases,Intestinal infectious diseases,100-109,100,109,0,100-109
1,Certain infectious and parasitic diseases,Tuberculosis,115-119,115,119,0,115-119
2,Certain infectious and parasitic diseases,Certain zoonotic bacterial diseases,120-128,120,128,0,120-128
3,Certain infectious and parasitic diseases,Other bacterial diseases,130-149,130,149,0,130-149
4,Certain infectious and parasitic diseases,Infections with a predominantly sexual mode of...,150-164,150,164,0,150-164
...,...,...,...,...,...,...,...
279,Factors influencing health status and contact ...,Do not resuscitate status,2666-2666,2666,2666,0,2666-2666
280,Factors influencing health status and contact ...,Blood type,2667-2667,2667,2667,0,2667-2667
281,Factors influencing health status and contact ...,Body mass index (BMI),2668-2668,2668,2668,0,2668-2668
282,Factors influencing health status and contact ...,Persons encountering health services in other ...,2669-2676,2669,2676,0,2669-2676
283,Factors influencing health status and contact ...,Persons with potential health hazards related ...,2677-2699,2677,2699,0,2677-2699

#Here we make range into row which will help us for merging these datasets

In [14]:
result = []
for ix, row in icd_10.iterrows():
    range_str = row["Icd_range"]
    for range_ in range(int(range_str.split("-")[0]), int(range_str.split("-")[1]) + 1):
        result.append({"GROUP_DESC": row["GROUP_DESC"],"Icd_code": range_})
clean_group = pd.DataFrame(result)

In [15]:
clean_group

                                             GROUP_DESC  Icd_code
0             Certain infectious and parasitic diseases       100
1             Certain infectious and parasitic diseases       101
2             Certain infectious and parasitic diseases       102
3             Certain infectious and parasitic diseases       103
4             Certain infectious and parasitic diseases       104
...                                                 ...       ...
2107  Factors influencing health status and contact ...      2695
2108  Factors influencing health status and contact ...      2696
2109  Factors influencing health status and contact ...      2697
2110  Factors influencing health status and contact ...      2698
2111  Factors influencing health status and contact ...      2699

[2112 rows x 2 columns]

#Loading diagnoses data

In [16]:
diagnoses=pd.read_csv('/content/drive/MyDrive/ArianaProject/mimiciv/1.0/hosp/diagnoses_icd.csv.gz')
diagnoses

         subject_id   hadm_id  seq_num icd_code  icd_version
0          15734973  20475282        3     2825            9
1          15734973  20475282        2    V0251            9
2          15734973  20475282        5     V270            9
3          15734973  20475282        1    64891            9
4          15734973  20475282        4    66481            9
...             ...       ...      ...      ...          ...
5280346    13747041  25594844        6     R531           10
5280347    13747041  25594844        8    R0902           10
5280348    13747041  25594844        4    F1120           10
5280349    13747041  25594844        2     J189           10
5280350    13747041  25594844        5     N179           10

[5280351 rows x 5 columns]

In [17]:
diagnoses_9=diagnoses.loc[diagnoses['icd_version'] == 9]#Making version 9 code aside
diagnoses_9

         subject_id   hadm_id  seq_num icd_code  icd_version
0          15734973  20475282        3     2825            9
1          15734973  20475282        2    V0251            9
2          15734973  20475282        5     V270            9
3          15734973  20475282        1    64891            9
4          15734973  20475282        4    66481            9
...             ...       ...      ...      ...          ...
3105807    14396614  29918558        5     7242            9
3105809    14396614  29918558        6    V4987            9
3105810    14396614  29918558        1    78659            9
3106107    18564065  21575927        2     7840            9
3106108    18564065  21575927        1    67484            9

[3090370 rows x 5 columns]

In [18]:
diagnoses_10=diagnoses.loc[diagnoses['icd_version'] == 10]#Making version 10 code aside
diagnoses_10=diagnoses_10[['subject_id','hadm_id','seq_num','icd_code']]
diagnoses_10

         subject_id   hadm_id  seq_num icd_code
2670103    18335503  21596415        2     E861
2670104    18335503  21596415        5   O99512
2670105    18335503  21596415        6   J45909
2670106    18335503  21596415        1   O99612
2670107    18335503  21596415        7   O99282
...             ...       ...      ...      ...
5280346    13747041  25594844        6     R531
5280347    13747041  25594844        8    R0902
5280348    13747041  25594844        4    F1120
5280349    13747041  25594844        2     J189
5280350    13747041  25594844        5     N179

[2189981 rows x 4 columns]

#Loding downloaded data

In [19]:
new_group=pd.read_csv("/content/drive/MyDrive/ArianaProject/icd9toicd10cmgem.csv")#Downloaded data
new_group=new_group[['icd9cm','icd10cm']]
new_group

      icd9cm icd10cm
0       0010    A000
1       0011    A001
2       0019    A009
3       0020   A0100
4       0021    A011
...      ...     ...
23907  V9129  O30299
23908  V9190  O30809
23909  V9191  O30819
23910  V9192  O30829
23911  V9199  O30899

[23912 rows x 2 columns]

#Converting 9 code into 10 code

In [21]:
merge_df=pd.merge(diagnoses_9,new_group,left_on='icd_code',right_on='icd9cm',how='left')
merge_df

         subject_id   hadm_id  seq_num icd_code  icd_version icd9cm icd10cm
0          15734973  20475282        3     2825            9   2825    D573
1          15734973  20475282        2    V0251            9  V0251  Z22330
2          15734973  20475282        5     V270            9   V270    Z370
3          15734973  20475282        1    64891            9  64891    O252
4          15734973  20475282        1    64891            9  64891  O99284
...             ...       ...      ...      ...          ...    ...     ...
4475831    14396614  29918558        1    78659            9  78659   R0782
4475832    14396614  29918558        1    78659            9  78659   R0789
4475833    18564065  21575927        2     7840            9   7840    G441
4475834    18564065  21575927        2     7840            9   7840     R51
4475835    18564065  21575927        1    67484            9  67484   O9089

[4475836 rows x 7 columns]

In [22]:
merge_df=merge_df[['subject_id','hadm_id','seq_num','icd10cm']]
merge_df.rename(columns = {'icd10cm':'icd_code'}, inplace = True)
merge_df

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

         subject_id   hadm_id  seq_num icd_code
0          15734973  20475282        3     D573
1          15734973  20475282        2   Z22330
2          15734973  20475282        5     Z370
3          15734973  20475282        1     O252
4          15734973  20475282        1   O99284
...             ...       ...      ...      ...
4475831    14396614  29918558        1    R0782
4475832    14396614  29918558        1    R0789
4475833    18564065  21575927        2     G441
4475834    18564065  21575927        2      R51
4475835    18564065  21575927        1    O9089

[4475836 rows x 4 columns]

In [23]:
clean_data=pd.concat([merge_df, diagnoses_10], axis=0)#Adding version 9 and 10 code
clean_data

         subject_id   hadm_id  seq_num icd_code
0          15734973  20475282        3     D573
1          15734973  20475282        2   Z22330
2          15734973  20475282        5     Z370
3          15734973  20475282        1     O252
4          15734973  20475282        1   O99284
...             ...       ...      ...      ...
5280346    13747041  25594844        6     R531
5280347    13747041  25594844        8    R0902
5280348    13747041  25594844        4    F1120
5280349    13747041  25594844        2     J189
5280350    13747041  25594844        5     N179

[6665817 rows x 4 columns]

In [24]:
clean_data=clean_data.drop_duplicates()
clean_data

         subject_id   hadm_id  seq_num icd_code
0          15734973  20475282        3     D573
1          15734973  20475282        2   Z22330
2          15734973  20475282        5     Z370
3          15734973  20475282        1     O252
4          15734973  20475282        1   O99284
...             ...       ...      ...      ...
5280346    13747041  25594844        6     R531
5280347    13747041  25594844        8    R0902
5280348    13747041  25594844        4    F1120
5280349    13747041  25594844        2     J189
5280350    13747041  25594844        5     N179

[6665684 rows x 4 columns]

#This portion will make icd code mergeable with initial data

In [25]:
clean_data['3_digit_code'] = clean_data.icd_code.str[:3]#take first 3 index of '3_digit_code' column
clean_data

<ipython-input-25-8925be5f1d3a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['3_digit_code'] = clean_data.icd_code.str[:3]#take first 3 index of '3_digit_code' column

         subject_id   hadm_id  seq_num icd_code 3_digit_code
0          15734973  20475282        3     D573          D57
1          15734973  20475282        2   Z22330          Z22
2          15734973  20475282        5     Z370          Z37
3          15734973  20475282        1     O252          O25
4          15734973  20475282        1   O99284          O99
...             ...       ...      ...      ...          ...
5280346    13747041  25594844        6     R531          R53
5280347    13747041  25594844        8    R0902          R09
5280348    13747041  25594844        4    F1120          F11
5280349    13747041  25594844        2     J189          J18
5280350    13747041  25594844        5     N179          N17

[6665684 rows x 5 columns]

In [26]:
clean_data['3_digit_code']=clean_data['3_digit_code'].str.upper()

<ipython-input-26-a02b7dffaa20>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['3_digit_code']=clean_data['3_digit_code'].str.upper()

In [27]:
clean_data['point']=clean_data['3_digit_code'].str.replace('A','1').str.replace('B','2').str.replace('C','3').str.replace('D','4').str.replace('E','5').str.replace('F','6').str.replace('G','7').str.replace('H','8').str.replace('I','9').str.replace('J','10').str.replace('K','11').str.replace('L','12').str.replace('M','13').str.replace('N','14').str.replace('O','15').str.replace('P','16').str.replace('Q','17').str.replace('R','18').str.replace('S','19').str.replace('T','20').str.replace('U','21').str.replace('V','22').str.replace('W','23').str.replace('X','24').str.replace('Y','25').str.replace('Z','26').str.replace("'",'').str.replace(" ",'')
clean_data

<ipython-input-27-f004fd9177a2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['point']=clean_data['3_digit_code'].str.replace('A','1').str.replace('B','2').str.replace('C','3').str.replace('D','4').str.replace('E','5').str.replace('F','6').str.replace('G','7').str.replace('H','8').str.replace('I','9').str.replace('J','10').str.replace('K','11').str.replace('L','12').str.replace('M','13').str.replace('N','14').str.replace('O','15').str.replace('P','16').str.replace('Q','17').str.replace('R','18').str.replace('S','19').str.replace('T','20').str.replace('U','21').str.replace('V','22').str.replace('W','23').str.replace('X','24').str.replace('Y','25').str.replace('Z','26').str.replace("'",'').str.replace(" ",'')

         subject_id   hadm_id  seq_num icd_code 3_digit_code point
0          15734973  20475282        3     D573          D57   457
1          15734973  20475282        2   Z22330          Z22  2622
2          15734973  20475282        5     Z370          Z37  2637
3          15734973  20475282        1     O252          O25  1525
4          15734973  20475282        1   O99284          O99  1599
...             ...       ...      ...      ...          ...   ...
5280346    13747041  25594844        6     R531          R53  1853
5280347    13747041  25594844        8    R0902          R09  1809
5280348    13747041  25594844        4    F1120          F11   611
5280349    13747041  25594844        2     J189          J18  1018
5280350    13747041  25594844        5     N179          N17  1417

[6665684 rows x 6 columns]

In [28]:
clean_data=clean_data.dropna(subset=['point'])

In [29]:
clean_data['point'] = clean_data['point'].astype('int')
clean_data

<ipython-input-29-40edd05b2e03>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['point'] = clean_data['point'].astype('int')

         subject_id   hadm_id  seq_num icd_code 3_digit_code  point
0          15734973  20475282        3     D573          D57    457
1          15734973  20475282        2   Z22330          Z22   2622
2          15734973  20475282        5     Z370          Z37   2637
3          15734973  20475282        1     O252          O25   1525
4          15734973  20475282        1   O99284          O99   1599
...             ...       ...      ...      ...          ...    ...
5280346    13747041  25594844        6     R531          R53   1853
5280347    13747041  25594844        8    R0902          R09   1809
5280348    13747041  25594844        4    F1120          F11    611
5280349    13747041  25594844        2     J189          J18   1018
5280350    13747041  25594844        5     N179          N17   1417

[6652663 rows x 6 columns]

#Final Merge(Group_desc adding)

In [30]:
final_data=pd.merge(clean_data,clean_group,left_on='point',right_on='Icd_code',how='left')
final_data

,subject_id,hadm_id,seq_num,icd_code,3_digit_code,point,GROUP_DESC,Icd_code
0,15734973,20475282,3,D573,D57,457,Diseases of the blood and blood-forming organs...,457.0
1,15734973,20475282,2,Z22330,Z22,2622,Factors influencing health status and contact ...,2622.0
2,15734973,20475282,5,Z370,Z37,2637,Factors influencing health status and contact ...,2637.0
3,15734973,20475282,1,O252,O25,1525,"Pregnancy, childbirth and the puerperium",1525.0
4,15734973,20475282,1,O99284,O99,1599,NaN,NaN
...,...,...,...,...,...,...,...,...
6655539,13747041,25594844,6,R531,R53,1853,"Symptoms, signs and abnormal clinical and labo...",1853.0
6655540,13747041,25594844,8,R0902,R09,1809,"Symptoms, signs and abnormal clinical and labo...",1809.0
6655541,13747041,25594844,4,F1120,F11,611,"Mental, Behavioral and Neurodevelopmental diso...",611.0
6655542,13747041,25594844,2,J189,J18,1018,Diseases of the respiratory system,1018.0
6655543,13747041,25594844,5,N179,N17,1417,Diseases of the genitourinary system,1417.0

In [31]:
final_data=final_data.dropna(subset=['GROUP_DESC'])
final_data=final_data[['subject_id','hadm_id','GROUP_DESC','Icd_code']]
final_data

,subject_id,hadm_id,GROUP_DESC,Icd_code
0,15734973,20475282,Diseases of the blood and blood-forming organs...,457.0
1,15734973,20475282,Factors influencing health status and contact ...,2622.0
2,15734973,20475282,Factors influencing health status and contact ...,2637.0
3,15734973,20475282,"Pregnancy, childbirth and the puerperium",1525.0
5,15734973,20475282,"Pregnancy, childbirth and the puerperium",1571.0
...,...,...,...,...
6655539,13747041,25594844,"Symptoms, signs and abnormal clinical and labo...",1853.0
6655540,13747041,25594844,"Symptoms, signs and abnormal clinical and labo...",1809.0
6655541,13747041,25594844,"Mental, Behavioral and Neurodevelopmental diso...",611.0
6655542,13747041,25594844,Diseases of the respiratory system,1018.0
6655543,13747041,25594844,Diseases of the genitourinary system,1417.0

In [32]:
final_data['cnt']=1
final_data

,subject_id,hadm_id,GROUP_DESC,Icd_code,cnt
0,15734973,20475282,Diseases of the blood and blood-forming organs...,457.0,1
1,15734973,20475282,Factors influencing health status and contact ...,2622.0,1
2,15734973,20475282,Factors influencing health status and contact ...,2637.0,1
3,15734973,20475282,"Pregnancy, childbirth and the puerperium",1525.0,1
5,15734973,20475282,"Pregnancy, childbirth and the puerperium",1571.0,1
...,...,...,...,...,...
6655539,13747041,25594844,"Symptoms, signs and abnormal clinical and labo...",1853.0,1
6655540,13747041,25594844,"Symptoms, signs and abnormal clinical and labo...",1809.0,1
6655541,13747041,25594844,"Mental, Behavioral and Neurodevelopmental diso...",611.0,1
6655542,13747041,25594844,Diseases of the respiratory system,1018.0,1
6655543,13747041,25594844,Diseases of the genitourinary system,1417.0,1

#Final Pivot table

In [33]:
table = pd.pivot_table(final_data, values='cnt', index=['subject_id','hadm_id'],columns=['GROUP_DESC'], aggfunc='sum')
table

GROUP_DESC           Certain conditions originating in the perinatal period  \
subject_id hadm_id
10000019   25058216                                                1.0
10000032   22595853                                                NaN
           22841357                                                NaN
           25742920                                                NaN
           29079034                                                NaN
...                                                                ...
19999828   25744818                                                NaN
           29734428                                                NaN
19999840   21033226                                                NaN
           26071774                                                NaN
19999987   23865745                                                NaN

GROUP_DESC           Certain infectious and parasitic diseases  \
subject_id hadm_id
10000019   25058216                                        NaN
10000032   22595853                                        1.0
           22841357                                        1.0
           25742920                                        1.0
           29079034                                        1.0
...                                                        ...
19999828   25744818                                        1.0
           29734428                                        1.0
19999840   21033226                                        NaN
           26071774                                        NaN
19999987   23865745                                        1.0

GROUP_DESC           Congenital malformations, deformations and chromosomal abnormalities  \
subject_id hadm_id
10000019   25058216                                                NaN
10000032   22595853                                                NaN
           22841357                                                NaN
           25742920                                                NaN
           29079034                                                NaN
...                                                                ...
19999828   25744818                                                NaN
           29734428                                                NaN
19999840   21033226                                                NaN
           26071774                                                NaN
19999987   23865745                                                NaN

GROUP_DESC           Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism  \
subject_id hadm_id
10000019   25058216                                                NaN
10000032   22595853                                                NaN
           22841357                                                1.0
           25742920                                                NaN
           29079034                                                NaN
...                                                                ...
19999828   25744818                                                1.0
           29734428                                                1.0
19999840   21033226                                                NaN
           26071774                                                NaN
19999987   23865745                                                NaN

GROUP_DESC           Diseases of the circulatory system  \
subject_id hadm_id
10000019   25058216                                 NaN
10000032   22595853                                 NaN
           22841357                                 NaN
           25742920                                 NaN
           29079034                                 2.0
...                                                 ...
19999828   25744818                                 2.0
           29734428                                 4.0
19999840   21033226                                 6.0
           26071774                                 4.0
19999987   23865745                                 2.0

GROUP_DESC           Diseases of the digestive system  \
subject_id hadm_id
10000019   25058216                               NaN
10000032   22595853                               4.0
           22841357                               3.0
           25742920                               5.0
           29079034                               3.0
...                                               ...
19999828   25744818                               1.0
           29734428                               1.0
19999840   21033226                               NaN
           26071774                               NaN
19999987   23865745                               NaN

GROUP_DESC           Diseases of the ear and mastoid process  \
subject_id hadm_id
10000019   25058216                                      NaN
10000032   22595853                                      NaN
           22841357                                      NaN
           25742920                                      NaN
           29079034                                      NaN
...                                                      ...
19999828   25744818                                      NaN
           29734428                                      NaN
19999840   21033226                                      NaN
           26071774                                      NaN
19999987   23865745                                      NaN

GROUP_DESC           Diseases of the eye and adnexa  \
subject_id hadm_id
10000019   25058216                             NaN
10000032   22595853                             NaN
           22841357                             NaN
           25742920                             NaN
           29079034                             NaN
...                                             ...
19999828   25744818                             NaN
           29734428                             NaN
19999840   21033226                             NaN
           26071774                             NaN
19999987   23865745                             1.0

GROUP_DESC           Diseases of the genitourinary system  \
subject_id hadm_id
10000019   25058216                                   NaN
10000032   22595853                                   NaN
           22841357                                   NaN
           25742920                                   NaN
           29079034                                   NaN
...                                                   ...
19999828   25744818                                   NaN
           29734428                                   1.0
19999840   21033226                                   NaN
           26071774                                   NaN
19999987   23865745                                   2.0

GROUP_DESC           Diseases of the musculoskeletal system and connective tissue  \
subject_id hadm_id
10000019   25058216                                                NaN
10000032   22595853                                                NaN
           22841357                                                NaN
           25742920                                                NaN
           29079034                                                NaN
...                                                                ...
19999828   25744818                                                NaN
           29734428                                                2.0
19999840   21033226                                                NaN
           26071774                                                NaN
19999987   23865745                                                NaN

GROUP_DESC           ...  Diseases of the respiratory system  \
subject_id hadm_id   ...
10000019   25058216  ...                                 NaN
10000032   22595853  ...                                 1.0
           22841357  ...                                 1.0
           25742920  ...                                 1.0
           29079034  ...                                 1.0
...                  ...                                 ...
19999828   25744818  ...                                 1.0
           29734428  ...                                 1.0
19999840   21033226  ...                                 5.0
           26071774  ...                                 NaN
19999987   23865745  ...                                 NaN

GROUP_DESC           Diseases of the skin and subcutaneous tissue  \
subject_id hadm_id
10000019   25058216                                           NaN
10000032   22595853                                           NaN
           22841357                                           NaN
           25742920                                           NaN
           29079034                                           NaN
...                                                           ...
19999828   25744818                                           1.0
           29734428                                           NaN
19999840   21033226                                           NaN
           26071774                                           NaN
19999987   23865745                                           NaN

GROUP_DESC           Endocrine, nutritional and metabolic diseasesï¿½  \
subject_id hadm_id
10000019   25058216                                             NaN
10000032   22595853                                             NaN
           22841357                                             1.0
           25742920                                             2.0
           29079034                                             2.0
...                                                             ...
19999828   25744818                                             3.0
           29734428                                             1.0
19999840   21033226                                             2.0
           26071774                                             2.0
19999987   23865745                                             1.0

GROUP_DESC           External causes of morbidity  \
subject_id hadm_id
10000019   25058216                           NaN
10000032   22595853                           NaN
           22841357                           NaN
           25742920                           NaN
           29079034                           NaN
...                                           ...
19999828   25744818                           2.0
           29734428                           2.0
19999840   21033226                           NaN
           26071774                           NaN
19999987   23865745                           NaN

GROUP_DESC           Factors influencing health status and contact with health services  \
subject_id hadm_id
10000019   25058216                                                3.0
10000032   22595853                                                1.0
           22841357                                                1.0
           25742920                                                2.0
           29079034                                                3.0
...                                                                ...
19999828   25744818                                                3.0
           29734428                                                4.0
19999840   21033226                                                NaN
           26071774                                                NaN
19999987   23865745                                                NaN

GROUP_DESC           Injury, poisoning and certain other consequences of external causes  \
subject_id hadm_id
10000019   25058216                                                NaN
10000032   22595853                                                NaN
           22841357                                                NaN
           25742920                                                NaN
           29079034                                                NaN
...                                                                ...
19999828   25744818                                                2.0
           29734428                                                2.0
19999840   21033226                                                8.0
           26071774                                                NaN
19999987   23865745                                                NaN

GROUP_DESC           Mental, Behavioral and Neurodevelopmental disorders  \
subject_id hadm_id
10000019   25058216                                                NaN
10000032   22595853                                                3.0
           22841357                                                1.0
           25742920                                                1.0
           29079034                                                2.0
...                                                                ...
19999828   25744818                                                1.0
           29734428                                                2.0
19999840   21033226                                                NaN
           26071774                                                1.0
19999987   23865745                                                NaN

GROUP_DESC           Neoplasms  Pregnancy, childbirth and the puerperium  \
subject_id hadm_id
10000019   25058216        NaN                                       NaN
10000032   22595853        NaN                                       NaN
           22841357        NaN                                       NaN
           25742920        NaN                                       NaN
           29079034        NaN                                       NaN
...                        ...                                       ...
19999828   25744818        NaN                                       NaN
           29734428        NaN                                       NaN
19999840   21033226        NaN                                       NaN
           26071774        NaN                                       NaN
19999987   23865745        2.0                                       NaN

GROUP_DESC           Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified
subject_id hadm_id
10000019   25058216                                                NaN
10000032   22595853                                                1.0
           22841357                                                1.0
           25742920                                                2.0
           29079034                                                2.0
...                                                                ...
19999828   25744818                                                1.0
           29734428                                                NaN
19999840   21033226                                                NaN
           26071774                                                NaN
19999987   23865745                                                6.0

[521064 rows x 21 columns]

In [34]:
final_df = pd.DataFrame(table.to_records())
final_df

,subject_id,hadm_id,Certain conditions originating in the perinatal period,Certain infectious and parasitic diseases,"Congenital malformations, deformations and chromosomal abnormalities",Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism,Diseases of the circulatory system,Diseases of the digestive system,Diseases of the ear and mastoid process,Diseases of the eye and adnexa,...,Diseases of the respiratory system,Diseases of the skin and subcutaneous tissue,"Endocrine, nutritional and metabolic diseasesï¿½",External causes of morbidity,Factors influencing health status and contact with health services,"Injury, poisoning and certain other consequences of external causes","Mental, Behavioral and Neurodevelopmental disorders",Neoplasms,"Pregnancy, childbirth and the puerperium","Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified"
0,10000019,25058216,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
1,10000032,22595853,NaN,1.0,NaN,NaN,NaN,4.0,NaN,NaN,...,1.0,NaN,NaN,NaN,1.0,NaN,3.0,NaN,NaN,1.0
2,10000032,22841357,NaN,1.0,NaN,1.0,NaN,3.0,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,1.0
3,10000032,25742920,NaN,1.0,NaN,NaN,NaN,5.0,NaN,NaN,...,1.0,NaN,2.0,NaN,2.0,NaN,1.0,NaN,NaN,2.0
4,10000032,29079034,NaN,1.0,NaN,NaN,2.0,3.0,NaN,NaN,...,1.0,NaN,2.0,NaN,3.0,NaN,2.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521059,19999828,25744818,NaN,1.0,NaN,1.0,2.0,1.0,NaN,NaN,...,1.0,1.0,3.0,2.0,3.0,2.0,1.0,NaN,NaN,1.0
521060,19999828,29734428,NaN,1.0,NaN,1.0,4.0,1.0,NaN,NaN,...,1.0,NaN,1.0,2.0,4.0,2.0,2.0,NaN,NaN,NaN
521061,19999840,21033226,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,...,5.0,NaN,2.0,NaN,NaN,8.0,NaN,NaN,NaN,NaN
521062,19999840,26071774,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
521063,19999987,23865745,NaN,1.0,NaN,NaN,2.0,NaN,NaN,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2.0,NaN,6.0